<%+header%>
<h2><a id="content" name="content"><%:Power Bar 电桩信息%></a></h2>
<fieldset class="cbi-section">
 <style>
      #div_body{
          width: 600px;
          height: 800px;
          margin: 0 auto;
      }
      table{
          border-collapse: collapse; 
          border-spacing: 0;
      }
      tr td{
          border:1px solid black;
      }
      table td{
          border-collapse: collapse;
          padding: 5px;
      }
      td{
	  width: 100px
      }
      #div_tabs{
          height: 5px;
      }
      #div_tabs span{
          display: inline-block;
          border: 1px solid black;
          padding: 10px;
          cursor: pointer;
      }
  </style>
 
    <textarea rows="40" cols="200" class="info" style="display:none;"><%=info%></textarea>
    
    <div id="div_body">
        <div id="div_tabs"></div>
        <div id="div_tb"></div>
    </div>
 
<script>

//setTimeout('refreshPage()',5000)

function refreshPage(){
	window.location.href = '<%=luci.dispatcher.build_url("admin","evpower","overview")%>';
}

var tbs = [];
var tbName = "table"
var options = {};
var tabBgColor = 'green';

//解析数据
function parseData(){
    var txt = document.getElementsByClassName('info')[0].value;

    var arr = txt.split('config 1');
    var arr1 = txt.split('config tab');
    for(var k=1; k<arr.length; k++){
        var t = arr[k];
        var tArr = t.split('option ');
        var tb = {};
        for(var i=0; i<tArr.length; i++){
            var opt = tArr[i];
            var oArr = opt.split(' ');
            var key = oArr[0];
            var value = oArr[1].replace("'","").replace("'","");
            if(!key){   //key为空，则为T1或T2...
                tb[tbName] = value;
            }
            else{
                tb[key] = value;
            }
        }
        options[tb[tbName]] = tb;
        tbs.push(tb[tbName]);
    }
    //console.log(options)
    //console.log(tbs)
}

//生成表格
function generateTable(){
    var count = 1;
    var str = '';
    for(var key in options){
        var display = count++===1?'block':'none' + ';';
        str += '<table class=table id='+ key +' style="display:'+ display +'">';
        var tb = options[key];
        for(var key in tb){
            var v = tb[key];
            if(key === 'Power'){
                v = (v/1000).toFixed(3) + ' Kwh';
            }else if(key === 'Duration'){
                var s = '';
                var hour = parseInt(v/60);
                if(hour > 0){
                    s = hour + '时' 
                }
                var min = v-hour*60;
                if(min > 0) s += min + '分'
                v = s;
            }else if(key === 'SelectCurrent' || key === 'PresentOutputCurrent'){
                v = v + 'A'
            }else if(key === 'ChargStartTime' || key === 'ChargEndTime'){
                v = new Date(v*1000).toLocaleString();
            }else if(key == 'PresentMode'){
				v = + v;
				var pmd = v.toString(16);
				if(pmd == 1){
					v = '就绪';
				}else if(pmd == 4){
						v = '预约';                                     
				}else if(pmd == 9){                                            
						v = '准备充电';                          
				}else if(pmd == 'a'){                          
						v = '拍卡未充电';            
				}else if(pmd == 'b'){                                           
						v = '充电中';                                    
				}else if(pmd == 'd'){                                    
						v = '充电完成';           
				}else if(pmd == 'e'){                           
						v = '暂停服务';                               
				}else if(pmd == '1e'){                                         
						v = '充电完成未解锁';                
				}else if(pmd == 65){                           
						v = '调试';                    
				}else if(pmd == 66){                                            
						v = '紧急制动';                                       
				}
			}else if(key == 'SubMode'){
				var arr = ['已插线','充电中','充电完成',0,0,0,'有泊车','已连接服务器',0,0,0,'13A线已插','20A线已插','32A线已插','63A线已插','16A线已插'];
				v = + v;
				var subm = v.toString(2);
				v = '';
				for(var i=0; i<subm.length; i++){
					var c = subm.charAt(i);
					if(c == 1){
						v += arr[i] + ',';
					}
				}
			}else if(key == 'SelectSocket'){
				v = + v;
				var skt = v.toString(16);
				if(skt == 1){                                                                                                        
					v='BS1363';                                                                                                    
				}else if(skt == 2){                                                                                                  
					v = 'SAEJ1772';                                                                                                  
				}else if(skt == 3){                                                                                                  
					v = 'IEC62196(1 Phase)';                                                                                         
				}else if(skt == 4){                                                                                                  
					v = 'GB20234(1 Phase)';                                                                                          
				}else if(skt == 5){                                                                                                  
					v = 'IEC62196(3 Phase)';                                                                                         
				}else if(skt == 6){                                                                                                  
					v = 'GB20234(3 Phase)';                                                                                          
				}else if(skt == 8){                                                                                                  
					v = 'CHAdeMo';                                                                                                   
				}else if(skt == 9){                                                                                                  
					v = 'IEC Combo';                                                                                                 
				}else if(skt == 'a'){                                                                                                
					v = 'GB QUICK CHARGER';                                                                                          
				}
			}else if(key == 'ChargerWay'){
				if(v == 1){
					v = '扫码';
				}else if(v == 2){
					v = '拍卡';
				}else{
					v = 'NULL';
				}
			}
            str += '<tr><td>'+ key +'</td><td>'+ v +'</td></tr>'
        }
        str += '</table>';
    }
    document.getElementById('div_tb').innerHTML = str;
}

//要显示的key
var toShowObjs = {
	'CID':'CID',
	'IP' : 'IP',
	'Model':'型号',
	'SelectCurrent':'手动选择电流',
	'PresentMode':'充电桩状态',
	'PresentOutputCurrent':'实际电流'
}

function sortKeys(options){
	var retObj = {};
	for(var optKey in options){
		var obj = {};
		var opt = options[optKey];
		for(var sKey in toShowObjs){
			var optValue = opt[sKey];
			obj[sKey] = optValue;
			console.log(sKey);
			console.log(optValue);
		}
		retObj[optKey] = obj;
	}
	return retObj;
}

//生成表格
function generateTable2(){
	console.log(options)
	options = sortKeys(options);
	var str = '';
	var count = 1;
	for(var key in options){
		//console.log(key) 
		str += '<h2>'+ '电桩'+ count +'</h2>';
		count += 1;
		str += '<table>';
		var opt = options[key];
		var tr1 = '<tr>', tr2 = '<tr>';
		for(var k in opt){
			if(isKeyToShow(k)){
				var v = opt[k].trim();
				if(key === 'Power'){
                			v = (v/1000).toFixed(3) + ' Kwh';
            			}else if(key === 'Duration'){
                			var s = '';
                			var hour = parseInt(v/60);
                			if(hour > 0){
                    				s = hour + '时' 
                			}
                			var min = v-hour*60;
                			if(min > 0) s += min + '分'
                				v = s;
            				}else if(key === 'SelectCurrent' || key === 'PresentOutputCurrent'){
              				  v = v + 'A'
           				 }else if(key === 'ChargStartTime' || key === 'ChargEndTime'){
              				  v = new Date(v*1000).toLocaleString();
           				 }else if(k=='PresentMode'){
					v = + v;
					var pmd = v.toString(16);
					if(pmd == 1){
						v = '就绪';
					}else if(pmd == 4){
						v = '预约';                                     
					}else if(pmd == 9){                                            
						v = '准备充电';                          
					}else if(pmd == 'a'){                          
						v = '拍卡未充电';            
					}else if(pmd == 'b'){                                           
						v = '充电中';                                    
					}else if(pmd == 'd'){                                    
						v = '充电完成';
					}else if(pmd == 'e'){                           
						v = '暂停服务';                               
					}else if(pmd == '1e'){                                         
						v = '充电完成未解锁';
					}else if(pmd == 65){                           
						v = '调试';
					}else if(pmd == 66){                                            
						v = '紧急制动';                                       
					}
				}else if(key == 'SubMode'){
				var arr = ['已插线','充电中','充电完成',0,0,0,'有泊车','已连接服务器',0,0,0,'13A已插','20A已插','32A已插','63A已插','16A已插'];
				v = + v;
				var subm = v.toString(2);
				v = '';
				for(var i=0; i<subm.length; i++){
					var c = subm.charAt(i);
					if(c == 1){
						v += arr[i] + ',';
					}
				}
			}else if(key == 'SelectSocket'){
				v = + v;
				var skt = v.toString(16);
				if(skt == 1){                                                                                                        
					v='BS1363';                                                                                                    
				}else if(skt == 2){                                                                                                  
					v = 'SAEJ1772';                                                                                                  
				}else if(skt == 3){                                                                                                  
					v = 'IEC62196(1 Phase)';                                                                                         
				}else if(skt == 4){                                                                                                  
					v = 'GB20234(1 Phase)';                                                                                          
				}else if(skt == 5){                                                                                                  
					v = 'IEC62196(3 Phase)';                                                                                         
				}else if(skt == 6){                                                                                                  
					v = 'GB20234(3 Phase)';                                                                                          
				}else if(skt == 8){                                                                                                  
					v = 'CHAdeMo';                                                                                                   
				}else if(skt == 9){                                                                                                  
					v = 'IEC Combo';                                                                                                 
				}else if(skt == 'a'){                                                                                                
					v = 'GB QUICK CHARGER';                                                                                          
				}
			}else if(key == 'ChargerWay'){
				if(v == 1){
					v = '扫码';
				}else if(v == 2){
					v = '拍卡';
				}else{
					v = 'NULL';
				}
			}
				tr1 += '<td>' + toShowObjs[k] + '</td>';
				tr2 += '<td>' + v + '</td>';
			}
		}
		tr1 += '</tr>';
		tr2 += '</tr>';
		str += tr1 + tr2 + '</table>';
	}
	document.getElementById('div_tb').innerHTML = str;
}

function isKeyToShow(tarKey){
	for(var key in toShowObjs){
		if(key == tarKey)	return true;
	}
	return false;
}


//生成Tab
function generateTabs(){
    var str = '';
    for(var i in tbs){
        var tb = tbs[i];
        var bgColor = i==0?tabBgColor:'white';
        str += '<span class=tab id=tab'+ tb +' style="background-color:'+ bgColor +'" onclick="clickTab(this.innerHTML)">'+ tb +'</span>';
    }
    document.getElementById('div_tabs').innerHTML = str;
}

//点击Tab事件
function clickTab(tabName){
    tabName = tabName.trim();
    var elems = document.getElementsByClassName("table");
//    console.log(elems)
    for(var i in elems){
        var ele = elems[i];
//        console.log(ele)
        var id = ele.id;
        if(id){
            if(id === tabName){
                ele.style.display = 'block';
            }else{
                ele.style.display = 'none';
            }
            setTabBgColor(tabName);
        }
    }
}

function setTabBgColor(tabName){
    tabName = tabName.trim();
    var tabs = document.getElementsByClassName("tab");
    for(var i in tabs){
        var tab = tabs[i];
        var id = tab.id;
        if(id == 'tab'+tabName){
            tab.style.backgroundColor = tabBgColor;
        }else{
            if(tab.style)   tab.style.backgroundColor = 'white';
        }
    }
}

parseData();
//generateTabs();
//generateTable();

generateTable2();

</script>

</fieldset>
