<%+header%>
 <style>
      #div_body{
          width: 600px;
          height: 800px;
          margin: 0 auto;
      }
      table{
          border-collapse: collapse; 
          border-spacing: 0;
      }
      tr td{
          border:1px solid black;
      }
      table td{
          border-collapse: collapse;
          padding: 5px;
      }
      #div_tabs{
          height: 50px;
      }
      #div_tabs span{
          display: inline-block;
          border: 1px solid black;
          padding: 10px;
          cursor: pointer;
      }
  </style>
 
    <textarea rows="40" cols="200" class="info" style="display:none;"><%=info%>
</textarea>
    
    <div id="div_body">
        <div id="div_tabs"></div>
        <div id="div_tb"></div>
    </div>
 
<script>

var tbs = [];
var tbName = "table"
var options = {};
var tabBgColor = 'green';

//解析数据
function parseData(){
    var txt = document.getElementsByClassName('info')[0].value;

    var arr = txt.split('config 1');
    for(var k=1; k<arr.length; k++){
        var t = arr[k];
        var tArr = t.split('option ');
        var tb = {};
        for(var i=0; i<tArr.length; i++){
            var opt = tArr[i];
            var oArr = opt.split(' ');
            var key = oArr[0];
            var value = oArr[1].replace("'","").replace("'","");
            if(!key){   //key为空，则为T1或T2...
                tb[tbName] = value;
            }
            else{
                tb[key] = value;
            }
        }
        options[tb[tbName]] = tb;
        tbs.push(tb[tbName]);
    }
//    console.log(options)
//    console.log(tbs)
}

//生成表格
function generateTable(){
    var count = 1;
    var str = '';
    for(var key in options){
        var display = count++===1?'block':'none' + ';';
        str += '<table class=table id='+ key +' style="display:'+ display +'">';
        var tb = options[key];
        for(var key in tb){
            var v = tb[key];
            if(key === 'Power'){
                v = (v/1000).toFixed(3) + ' Kwh';
            }else if(key === 'Duration'){
                var s = '';
                var hour = parseInt(v/60);
                if(hour > 0){
                    s = hour + '时' 
                }
                var min = v-hour*60;
                if(min > 0) s += min + '分'
                v = s;
            }else if(key === 'SelectCurrent' || key === 'PresentOutputCurrent'){
                v = v + 'A'
            }else if(key === 'ChargStartTime' || key === 'ChargEndTime'){
                v = new Date(v*1000).toLocaleString();
            }else if(key == 'PresentMode'){
				v = + v;
				var pmd = v.toString(16);
				if(pmd == 1){
					v = 'CHARGER_READY';
				}else if(pmd == 4){
						v = 'CHARGER_RESERVED';                                     
				}else if(pmd == 9){                                            
						v = 'CHARGER_PRE_CHARGING';                          
				}else if(pmd == 'a'){                          
						v = 'CHARGER_CHARGING_IN_QUEUE';            
				}else if(pmd == 'b'){                                           
						v = 'CHARGER_CHARGING';                                    
				}else if(pmd == 'd'){                                    
						v = 'CHARGER_CHARGING_COMPLETE';           
				}else if(pmd == 'e'){                           
						v = 'CHARGER_OUT_OF_SERVICE';                               
				}else if(pmd == '1e'){                                         
						v = 'CHARGER_CHARGING_COMPLETE_LOCK';                
				}else if(pmd == 65){                           
						v = 'CHARGER_DEBUGGING';                    
				}else if(pmd == 66){                                            
						v = 'CHARGER_ESTOP';                                       
				}
			}else if(key == 'SubMode'){
				var arr = ['Wiring','Charging','Charged',0,0,0,'Parking','Connecting',0,0,0,'13A Linking','20A Linking','32A Linking','63A Linking','16A Linking'];
				v = + v;
				var subm = v.toString(2);
				v = '';
				for(var i=0; i<subm.length; i++){
					var c = subm.charAt(i);
					if(c == 1){
						v += arr[i] + ',';
					}
				}
			}else if(key == 'SelectSocket'){
				v = + v;
				var skt = v.toString(16);
				if(skt == 1){                                                                                                        
						v = 'BS1363';                                                                                                    
				}else if(skt == 2){                                                                                                  
						v = 'SAEJ1772';                                                                                                  
				}else if(skt == 3){                                                                                                  
						v = 'IEC62196(1 Phase)';                                                                                         
				}else if(skt == 4){                                                                                                  
						v = 'GB20234(1 Phase)';                                                                                          
				}else if(skt == 5){                                                                                                  
						v = 'IEC62196(3 Phase)';                                                                                         
				}else if(skt == 6){                                                                                                  
						v = 'GB20234(3 Phase)';                                                                                          
				}else if(skt == 8){                                                                                                  
						v = 'CHAdeMo';                                                                                                   
				}else if(skt == 9){                                                                                                  
						v = 'IEC Combo';                                                                                                 
				}else if(skt == 'a'){                                                                                                
						v = 'GB QUICK CHARGER';                                                                                          
				}
			}else if(key == 'ChargerWay'){
				if(v == 1){
					v = 'Scanning Code';
				}else if(v == 2){
					v = 'Laying Card';
				}else{
					v = 'NULL';
				}
			}
            str += '<tr><td>'+ key +'</td><td>'+ v +'</td></tr>'
        }
        str += '</table>';
    }
    document.getElementById('div_tb').innerHTML = str;
}

//生成Tab
function generateTabs(){
    var str = '';
    for(var i in tbs){
        var tb = tbs[i];
        var bgColor = i==0?tabBgColor:'white';
        str += '<span class=tab id=tab'+ tb +' style="background-color:'+ bgColor +'" onclick="clickTab(this.innerHTML)">'+ tb +'</span>';
    }
    document.getElementById('div_tabs').innerHTML = str;
}

//点击Tab事件
function clickTab(tabName){
    tabName = tabName.trim();
    var elems = document.getElementsByClassName("table");
//    console.log(elems)
    for(var i in elems){
        var ele = elems[i];
//        console.log(ele)
        var id = ele.id;
        if(id){
            if(id === tabName){
                ele.style.display = 'block';
            }else{
                ele.style.display = 'none';
            }
            setTabBgColor(tabName);
        }
    }
}

function setTabBgColor(tabName){
    tabName = tabName.trim();
    var tabs = document.getElementsByClassName("tab");
    for(var i in tabs){
        var tab = tabs[i];
        var id = tab.id;
        if(id == 'tab'+tabName){
            tab.style.backgroundColor = tabBgColor;
        }else{
            if(tab.style)   tab.style.backgroundColor = 'white';
        }
    }
}

parseData();
generateTabs();
generateTable();

</script>
<%+footer%>
