<script type="text/javascript">//<![CDATA[
	function wprogressbar(v, m)
	{
		var vn = parseInt(v) || 0;
		var mn = parseInt(m) || 100;
		var pc = Math.floor((100 / mn) * vn);

		return String.format(
			'<div style="width:200px; position:relative; border:1px solid #999999">' +
				'<div style="background-color:#CCCCCC; width:%d%%; height:15px">' +
					'<div style="position:absolute; left:0; top:0; text-align:center; width:100%%; color:#000000">' +
						'<small>%d%%</small>' +
					'</div>' +
				'</div>' +
			'</div>', pc, pc
		);
	}

	function input(obj)
	{
		var rid = prompt('Please Input A New Rid:');
		rid = + rid;
		var xhR = new XHR();
		if( ! rid)
		{
			;
		}else{
			xhR.post('<%=luci.dispatcher.build_url("admin","quick","wwan","evlink1")%>',{
				rid_flag : 1,
				is_rid	: rid
			},function(xhr){
			
			});
		}
	}

	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "quick", "wwan", "evlink")%>', null,
		function(x, st)
		{
			var sub_txt = document.getElementById('evlink_status_text');
			var sub_bar = document.getElementById('evlink_status_bar');
			var sub_id  = document.getElementById('evlink_status_id');
			if (sub_bar)
			{
				if (st)
				{
					var bar = '';
					sub_txt.innerHTML = "";
					sub_id.innerHTML = '<input id=cid value =' + st.id + '><input type=button value="change" onclick=input(this);>';
					if ( st.heartbeat ) {
						if ( st.heartbeat>=0 && st.heartbeat<=100 )
							bar = wprogressbar(st.heartbeat, 100);
						else
							bar = wprogressbar(0, 100);
						sub_bar.innerHTML = bar;
					}
					else {
						sub_bar.innerHTML = "st - null";
					}
				}
				else
				{
					if (sub_txt) {
						sub_txt.innerHTML = "st - null";
					}
					sub_bar.innerHTML = "NULL";
				}
			}
		}
	);
//]]></script>

<style type="text/css">
  .wanok { background-color: rgb(144, 240, 144); }
  .wanko { background-color: rgb(240, 144, 144); }
  .wanrecov { background-color: rgb(240, 240, 0); }
  .wanfail { background-color: rgb(255, 165, 0); }
  .wanko, .wanok, .wanrecov, .wanfail {
	padding: 0.4em;
	margin: 0.4em;
  }
</style>

<fieldset class="cbi-section">
	<legend><%:Heart Beat(Router ID:%><span id='evlink_status_id'></span>)</legend>
	<div id="evlink_status_text" style="text-align:left;"><em><%:Collecting data...%></em></div>
	<div id="evlink_status_bar" style="text-align:left;"></div>
</fieldset>
<style type="text/css">
  .container {	/* container for entire page. fixes bootstrap theme's ridiculously small page width */
	max-width: 1044px;
  }
  #evlink_status_text {
	padding: 0px 20px 0px 80px;
	display: table;
	font-size: 14px;
	margin: auto;
	width: 100%;
  }
  #evlink_status_bar {
	padding: 0px 20px 0px 80px;
	display: table;
	font-size: 14px;
	margin: auto;
	width: 100%;
  }
</style>
